.login-form h2{
	margin-bottom: 30px;
}
.login-form .input-group{
	padding-bottom: 20px;
}
.login-form label{
	display: block;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 15px;
}
.input-group input{
	width:60%;
	padding:10px 30px;
	border-radius: 5px;
	outline:0;
	border: 1px solid #eee;
	font-weight: 500;
	font-size: 16px;
}
.login-form{
	height: 72vh;
}
.login-form .login-form-wrapper{
	width: 600px;
	margin: 0 auto;
}